/.idea/
/.gradle/
/.intellijPlatform/
/build/
/gradle/
/out/
/src/main/resources/static/assets/
/src/main/gen/
/docs/**/.idea/
/docs/**/*.schema
/docs/**/*.rule
/docs/idea-flex.skeleton
/docs/jflex-1.9.2.jar
